*{
  font-family: 'Gumela', sans-serif;
}

nav{
  height: 15vh;
  /*background-color: blueviolet;*/
  color: orange;
font-family: 'Gumela', sans-serif;
}
.logo{
  font-size: 30px;line-height: 15vh;
  margin-left: 5rem;
  font-weight: 600;
  font-family: 'Roboto''sans-serif';
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  font-size: 30px;
  color: orange;

  text-decoration: none;
  line-height: 15vh;
  padding: 0px 30px;
  
}
nav ul li a:hover{
  color: #34495e;
}
.checkbtn{
  display: none;
  float: right;
  line-height: 15vh;
  margin-right: 30px;
  font-size: 30px;
  color: black;
}
#check{
  display: none;
}
#check:checked ~ ul{
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 50%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 50%); 
}
@media (max-width: 930px){
  nav ul{
    position: fixed;
         top: 15vh;
         background-color:blue;
         width: 100%;
         -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%, 0% 50%);
clip-path: polygon(0 0, 100% 0, 0 0, 0 100%, 0% 50%);
         text-align: center;
         left: -100%;
         z-index: 1111;
         transition: all 0.7s ease;
  }
  nav ul li{
    display: block;
  }
  .checkbtn{
    display: block;
  }
  nav ul li a{
    line-height: 10vh;
  }
}
.button-85{
  margin-right: 30px;
}


.button-85 {
  padding: 10px 5px;
  border: none;
  font-size: 30px;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-85:hover{
  color: yellow;
}
@media (max-width: 560px){
 .logo{
  margin-left: 20px;
 } 
}









